In [1]:
#Importing Neccesary Modules

import pandas as pd
import numpy as np

In [2]:
#Reading our dataset file and converting it into pandas dataframe

df = pd.read_csv('2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv')

In [3]:
df.head

<bound method NDFrame.head of       order_id  shop_id  user_id  order_amount  total_items payment_method  \
0            1       53      746           224            2           cash
1            2       92      925            90            1           cash
2            3       44      861           144            1           cash
3            4       18      935           156            1    credit_card
4            5       18      883           156            1    credit_card
...        ...      ...      ...           ...          ...            ...
4995      4996       73      993           330            2          debit
4996      4997       48      789           234            2           cash
4997      4998       56      867           351            3           cash
4998      4999       60      825           354            2    credit_card
4999      5000       44      734           288            2          debit

               created_at
0     2017-03-13 12:36:56
1     2017-03-03 17:38:52
2      2017-03-14 4:23:56
3     2017-03-26 12:43:37
4      2017-03-01 4:35:11
...                   ...
4995  2017-03-30 13:47:17
4996  2017-03-16 20:36:16
4997   2017-03-19 5:42:42
4998  2017-03-16 14:51:18
4999  2017-03-18 15:48:18

[5000 rows x 7 columns]>

In [4]:
df.columns

Index(['order_id', 'shop_id', 'user_id', 'order_amount', 'total_items',
       'payment_method', 'created_at'],
      dtype='object')

In [5]:
df.shape

(5000, 7)

In [6]:
df.info

<bound method DataFrame.info of       order_id  shop_id  user_id  order_amount  total_items payment_method  \
0            1       53      746           224            2           cash
1            2       92      925            90            1           cash
2            3       44      861           144            1           cash
3            4       18      935           156            1    credit_card
4            5       18      883           156            1    credit_card
...        ...      ...      ...           ...          ...            ...
4995      4996       73      993           330            2          debit
4996      4997       48      789           234            2           cash
4997      4998       56      867           351            3           cash
4998      4999       60      825           354            2    credit_card
4999      5000       44      734           288            2          debit

               created_at
0     2017-03-13 12:36:56
1     2017-03-03 17:38:52
2      2017-03-14 4:23:56
3     2017-03-26 12:43:37
4      2017-03-01 4:35:11
...                   ...
4995  2017-03-30 13:47:17
4996  2017-03-16 20:36:16
4997   2017-03-19 5:42:42
4998  2017-03-16 14:51:18
4999  2017-03-18 15:48:18

[5000 rows x 7 columns]>

In [7]:
df.order_amount.describe()

count      5000.000000
mean       3145.128000
std       41282.539349
min          90.000000
25%         163.000000
50%         284.000000
75%         390.000000
max      704000.000000
Name: order_amount, dtype: float64

In [8]:
df.order_amount.sum()/df.shape[0]  #It is the mean of order_amount coloumn

3145.128

As per the question,average order value (AOV) given is $3145.13 which is wrong.Now we can cleary see mean of order_amount is $3145.13 which is not AOV.

In [9]:
Total_amount_of_all_orders = df.order_amount.sum()  #Total_amount_of_all_orders

Total_items_ordered = df.total_items.sum()   #Total_items_ordered

In [10]:
print("Total Revenue generated by all sneaker shops collectively is $",Total_amount_of_all_orders)

Total Revenue generated by all sneaker shops collectively is $ 15725640

In [11]:
print("Total Number of items sold by all sneaker shops collectively is",Total_items_ordered)

Total Number of items sold by all sneaker shops collectively is 43936

In [12]:
AOV = Total_amount_of_all_orders / Total_items_ordered

In [13]:
print("Average order value (AOV) is $",AOV.round(2))

Average order value (AOV) is $ 357.92

In [14]:
Unique_amount_values = df.groupby(['order_amount']).size().reset_index(name='count').sort_values(by='count', ascending=False)

In [15]:
Unique_amount_values.head(15)

     order_amount  count
28            153     87
87            306     85
108           354     82
31            156     75
33            160     75
90            312     75
92            320     72
21            142     72
96            328     68
141           459     67
107           352     66
69            260     66
79            284     64
45            176     62
72            266     56

In [16]:
df['order_amount'].mode()

0    153
dtype: int64

In [17]:
df['order_amount'].median()

284.0